<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="zookeeper"
             type="Sodao.Zookeeper.Config.ZookeeperConfig, Zookeeper"/>
  </configSections>

  <zookeeper>
    <clients>
      <client name="zk1"
              chroot=""
              sessionTimeout="15000"
              connectionString="10.0.12.10:2181" />
    </clients>
  </zookeeper>

</configuration>